@import url('https://fonts.googleapis.com/css?family=Advent+Pro:400,700|Waiting+for+the+Sunrise');
:root {
    font-family: 'Advence Pro', sans-serif;
    background-color: #696969;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    max-width: 1300px;
    margin: auto;
}

header nav .weather {}

header nav .logo {
    font-family: 'Waiting for the Sunrise';
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    padding: 0;
    text-shadow: black 0.2em 0.2em 0.2em
}

header nav .logo a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-shadow: black 0.1em 0.1em 0.2em
}

header nav .menu {
    display: flex;
    font-family: 'Waiting for the Sunrise';
    font-size: 2rem;
}

header nav .menu {
    padding: 0;
    justify-content: space-around;
    flex: 2;
    margin: 10px;
}

header nav .menu li {
    list-style-type: none;
    display: flex;
    margin: 2px;
}

header nav .menu a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

header nav .menu a:hover {
    text-shadow: 2px 2px 5px white;
    color: red;
}

@media (min-width: 730px) {
    header nav {
        display: flex;
    }
}

header .background {
    background-image: url(../img/mainphoto.jpg);
    min-height: 650px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center
}

header .background h1 {
    font-family: 'Waiting for the Sunrise';
    font-size: 100px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;
}

#About h2 {
    font-family: 'Waiting for the Sunrise';
    font-weight: bolder;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
    text-shadow: black 0.1em 0.1em 0.1em;
    margin-right: 40px;
}

#About p {
    font-family: 'Advence Pro';
    justify-content: center;
    margin: auto;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

#Places h2 {
    font-family: 'Waiting for the Sunrise';
    font-weight: bolder;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
    text-shadow: black 0.1em 0.1em 0.1em;
    margin-right: 40px;
}

#Places a {
    font-family: 'Waiting for the Sunrise';
    display: flex;
    color: white;
    justify-content: center;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 2px 2px 5px black;

}

main .Hoolyw {
    font-family: 'Advence Pro';
    background-image: url(../img/holl.jpg);
    min-height: 350px;
    background-size: cover;
    background-position: center;
    display: flex;
    line-height: 45px;
    justify-content: center;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

main .Observ {
    font-family: 'Advence Pro';
    background-image: url(../img/MountWils.jpg);
    min-height: 350px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}

main .Land {
    font-family: 'Advence Pro';
    background-image: url(../img/Disna.jpg);
    min-height: 350px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 25px;
    font-weight: bold;
    line-height: 45px;
}

main .Gett {
    font-family: 'Advence Pro';
    background-image: url(../img/vill.jpg);
    min-height: 350px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 25px;
    font-weight: bold;
    line-height: 45px;
}


#Gallery h2 {
    font-family: 'Waiting for the Sunrise';
    font-weight: bolder;
    font-size: 50px;
    display: flex;
    color: white;
    justify-content: flex-end;
    text-shadow: black 0.1em 0.1em 0.1em;
    margin-right: 40px;
}

#Gallery img {
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
    border: 2px solid #55c5e9;
    padding: 10px;
    background: #6495ED;
    margin-right: 85px;
    margin-bottom: 20px;

}

#Location h2 {
    font-family: 'Waiting for the Sunrise';
    font-weight: bolder;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
    text-shadow: black 0.1em 0.1em 0.1em;
    margin-right: 40px;
}

#Location .fine {
    font-family: 'Advence Pro';
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    color: white;
}

#Location .fine a {
    font-family: 'Advence Pro';
    color: black;
}

#Location .all {
    display: flex;
    justify-content: space-around;
}

#Location .local {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    line-height: 85px;
    margin-right: 120px;
}

#Links h2 {
    font-family: 'Waiting for the Sunrise';
    font-weight: bolder;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
    text-shadow: black 0.1em 0.1em 0.1em;
    margin-right: 40px;
}

#Links .icon img {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    transform: translateY(50%);
    margin-left: 900px;
}

#Links a {
    text-decoration: none;
}

#Links p {
    font-family: 'Advence Pro';
    font-weight: bold;
    font-size: 35px;
    color: black;
    margin-left: 250px;
}

#Links p:hover {
    text-decoration: underline;
    color: white;
}

#Questions h2 {
    font-family: 'Waiting for the Sunrise';
    font-weight: bolder;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
    text-shadow: black 0.1em 0.1em 0.1em;
    margin-right: 40px;
}
.card {
  max-width: 900px;
  margin: 50px auto 0;
  padding: 20px;
  background: white;
  border: 10px solid transparent;
  font-family: 'Advence Pro';
  color: Black;
  font-weight: bold;
}
.form-row {margin-bottom: 15px;}
.form-row input[type="text"], 
.form-row input[type="email"], 
.form-row textarea {
  width: 100%;
  padding: 0 10px;
  line-height: 35px;
  border-width: 0;
  outline: none;
  background: transparent url(https://html5book.ru/wp-content/uploads/2016/12/bg-form.png) bottom left repeat-x;
  background-size: 8px 20px;
  font-family: 'Advence Pro';
}
.form-row textarea {
  background-attachment: local;
  background-repeat: repeat;
  resize: none;
}
.form-row input[type="submit"] {
  padding: 10px 20px;
  margin-top: 10px;
  background: #F67CA5;
  border-width: 0;
  cursor: pointer; 
    
}



@media (max-width:800px) {
    main #Location .local {
        display: none;
    }
}

@media (max-width:740px) {
    main #Location form {
        display: none;
    }
}
